.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-left: var(--navigation-width);

  &_main {
    flex: 1 1;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 16px 64px;
  }
}
