.vc-menu-toggle {
  padding: .75rem;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .3);
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  color: #fff;
  background-color: var(--blue);

  &:focus {
    box-shadow: 0 8px 15px rgba(0, 0, 0, .3), var(--base-focus);
  }

  &__circle {
    border-radius: 50%;
  }

  &__square {
    border-radius: var(--border-radius);
  }

  &_box {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;

    &:before,
    &:after {
      content: '';
      display: block;
      width: 2rem;
      height: .25rem;
      border-radius: .25rem;
      background: currentColor;
      transform-origin: .125rem .125rem;
      transition: .25s;
      transform: translateX(-.25rem);
    }

    .vc-menu-toggle__active & {

      &:before {
        transform: rotate(45deg);
      }

      &:after {
        transform: rotate(-45deg);
      }
    }
  }

  &_line {
    width: 100%;
    height: .25rem;
    border-radius: .25rem;
    background: currentColor;
    transition: .35s;

    .vc-menu-toggle__active & {
      opacity: 0;
      transform: translateX(-.625rem);
    }
  }
}
