.menu-toggle {
  padding: 12px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .3);
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  color: #fff;
  background-color: var(--blue);

  &:focus {
    box-shadow: 0 8px 15px rgba(0, 0, 0, .3), var(--base-focus);
  }

  &__circle {
    border-radius: 50%;
  }

  &__square {
    border-radius: var(--border-radius);
  }

  &_box {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;

    &:before,
    &:after {
      content: '';
      display: block;
      width: 32px;
      height: 4px;
      border-radius: 4px;
      background: currentColor;
      transform-origin: 2px 2px;
      transition: .25s;
      transform: translateX(-4px);
    }

    .menu-toggle__active & {

      &:before {
        transform: rotate(45deg);
      }

      &:after {
        transform: rotate(-45deg);
      }
    }
  }

  &_line {
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background: currentColor;
    transition: .35s;

    .menu-toggle__active & {
      opacity: 0;
      transform: translateX(-10px);
    }
  }
}
