.vc-indicator {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  line-height: 1;

  &__warning {
    --color: var(--orange);
  }

  &__error {
    --color: var(--red);
  }

  &__success {
    --color: var(--green);
  }

  &__primary {
    --color: var(--accent);
  }

  &_text {
    display: inline-block;
    padding: 0 10px;
    color: var(--color);
  }

  &_dot {
    position: absolute;
    right: 0;
    z-index: 10;
    display: inline-block;
    width: 12px;
    height: 12px;
    vertical-align: baseline;
    background-color: var(--color);
    border-radius: 50%;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .6);
    transform-origin: 100% 0%;

    &__top {
      top: 0;
      transform: translate(50%, -50%);
    }

    &__bottom {
      bottom: 0;
      transform: translate(50%, 50%);
    }

    &__pulse {

      &:after {
        position: absolute;
        top: 5px;
        left: 5px;
        width: 2px;
        height: 2px;
        background-color: transparent;
        border-radius: 100%;
        box-shadow: 0 0 0 20px var(--color);
        animation: pulse 1.6s infinite ease-in-out;
        content: "";
      }
    }

    &__blink {
      animation: blink2 1.6s infinite ease-in-out;
    }

    .vc-indicator__inline & {
      position: relative;
      box-shadow: none;
      transform: none;
    }
  }
}

@keyframes pulse {

  0% {
    transform: scale(0);
  }

  70% {
    opacity: .1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}
//TODO rename animation
@keyframes blink2 {

  50% {
    opacity: 0;
  }
}
