{
  "plugins": ["stylelint-order", "stylelint-scss"],
  "extends": ["stylelint-config-airbnb", "stylelint-config-rational-order"],
  "syntax": "scss",
  "rules": {
    "max-nesting-depth": [3, {
      "message": "Nesting > 3 level",
      "ignore": ["blockless-at-rules"],
      "severity": "warning"
    }],
    "string-quotes": ["single", {
      "message": "Use single quotes"
    }],
    "order/order": [
      "declarations",
      {
        "type": "at-rule",
        "name": "media"
      },
      {
        "type": "rule",
        "selector": "^&::(before|after)"
      },
      {
        "type": "rule",
        "selector": "^&:\\w"
      },
      {
        "type": "rule",
        "selector": "^&_"
      },
      {
        "type": "rule",
        "selector": "^."
      }
    ]
  }
}
