.vc-legend {
  margin: 0;
  padding: 0;
  list-style: none;

  &_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    overflow: hidden;

    &:last-child {
      margin-bottom: 8px;
    }
  }

  &_title {
    display: flex;
    flex: 1;
    align-items: center;
    min-width: 28px;
    margin: 0;

    &:after {
      display: inline-block;
      flex-grow: 1;
      flex-shrink: 1;
      height: 10px;
      margin: 0 4px;
      padding: 0 4px;
      background-image: linear-gradient(to right, #d8dae0 3px, transparent 1px);
      background-repeat: repeat-x;
      background-position: left bottom;
      background-size: 4px 1px;
      opacity: .4;
      content: '';
    }
  }

  &_text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &_value {
  }
}
