.settings {

  &_header {
    margin-bottom: 40px;
  }

  &_title {
    margin-bottom: 24px;
  }

  &_body {
    max-width: 50%;
  }

  &_footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  &_list {
    margin-bottom: 80px;
  }

  &_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    min-height: 42px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
