.vc-message {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10000;
  padding: 20px;
  pointer-events: none;

  &__animation {

    &-enter-active,
    &-leave-active {
      transition: opacity .35s ease-in-out,
        transform .35s ease-in-out;
    }

    &-enter,
    &-leave-to {
      transform: translateY(-10px);
      opacity: 0;
    }
  }

  &_close {
    position: absolute;
    top: 4px;
    right: 4px;
  }

  &_content {
    position: relative;
    max-width: 520px;
    min-height: 52px;
    margin: 0 auto;
    padding: 12px 48px 12px 24px;
    color: var(--invers);
    border-radius: var(--border-radius);
    pointer-events: auto;

    &__success {
      background-color: var(--green);
    }

    &__error {
      background-color: var(--red);
    }

    &__warning {
      background-color: var(--orange);
    }

    &__primary {
      background-color: var(--accent);
    }
  }
}
