.vc-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 7.5rem;
  height: var(--size);
  padding: .625rem .75rem;
  font-family: inherit;
  line-height: 1.5;
  white-space: nowrap;
  vertical-align: middle;
  transition: color .2s;

  @media (hover: hover) {

    &:not([disabled]):hover {

      &.vc-button__color-warning.vc-button__variant-bordered,
      &.vc-button__color-warning.vc-button__variant-ghost {
        background-color: var(--orange-hover);
      }

      &.vc-button__color-error.vc-button__variant-bordered,
      &.vc-button__color-error.vc-button__variant-ghost {
        background-color: var(--red-hover);
      }

      &.vc-button__color-success.vc-button__variant-bordered,
      &.vc-button__color-success.vc-button__variant-ghost {
        background-color: var(--green-hover);
      }

      &.vc-button__color-primary.vc-button__variant-bordered,
      &.vc-button__color-primary.vc-button__variant-ghost {
        background-color: var(--blue-hover);
      }

      &.vc-button__color-secondary.vc-button__variant-bordered,
      &.vc-button__color-secondary.vc-button__variant-ghost {
        background-color: var(--invers-hover);
      }

      &.vc-button__variant-normal {
        opacity: .7;
      }
    }
  }
  
  &:disabled {
    cursor: not-allowed;
  }

  &__color-primary {
    color: var(--accent);
    background-color: var(--accent);
  }

  &__color-error {
    color: var(--red);
    background-color: var(--red);
  }

  &__color-success {
    color: var(--green);
    background-color: var(--green);
  }

  &__color-warning {
    color: var(--orange);
    background-color: var(--orange);
  }

  &__variant-normal {
    color: #fff;

    &.vc-button__color-secondary {
      color: var(--invers-light);
      background-color: var(--invers);
    }
  }

  &__variant-bordered {
    padding: .5rem .75rem;
    background-color: transparent;
    border: .125rem solid currentColor;

    &.vc-button__color-secondary {
      color: var(--invers);
      border-color: currentColor;
    }
  }

  &__variant-ghost {
    background-color: transparent;

    &.vc-button__color-secondary {
      color: var(--invers);
    }
  }

  &__loading {
    cursor: progress;

    .vc-button_icon,
    .vc-button_text {
      opacity: 0;
    }
  }

  &__shape-circle,
  &__shape-round {
    border-radius: var(--size);
  }

  &__shape-square,
  &__shape-circle {
    min-width: var(--size);
    padding: 0;
  }

  &__shape-square,
  &__shape-rectangle {
    border-radius: var(--border-radius);
  }

  &__disabled {

    &.vc-button__variant-normal {
      color: #fff;
      background-color: var(--disabled);
    }

    &.vc-button__variant-bordered {
      color: var(--disabled);
      border-color: currentColor;
    }

    &.vc-button__variant-ghost {
      color: var(--disabled);
    }
  }

  &_text {
    position: relative;
    padding: 0 .375rem;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1;

    .vc-button__shape-square &,
    .vc-button__shape-circle & {
      position: absolute;
      width: 1px;
      height: 1px;
      overflow: hidden;
      white-space: nowrap;
      clip: rect(1px, 1px, 1px, 1px);
    }
  }

  &_icon {
    flex: 0 0 auto;
    box-sizing: initial;
    width: 1.5rem;
    height: 1.5rem;
    fill: currentColor;

    &__left {
      order: -1;
    }
  }

  &_spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.75rem;
    height: 1.75rem;
    margin-top: -.875rem;
    margin-left: -.875rem;
    animation: dashSpinner 1.5s ease-in-out infinite;
    stroke: currentColor;
    stroke-linecap: round;
  }
}

@keyframes dashSpinner {

  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }

  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
