.vc-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--light-blue);
  padding-left: 0;

  @media screen and (min-width: 75em) {
    padding-left: var(--navigation-width);
  }

  @supports (-webkit-touch-callout: none) {
    min-height: -webkit-fill-available;
  }

  &__locked {
    position: fixed;
    left: 0;
    right: 0;
  }

  &_main {
    flex: 1 1;
    max-width: 75rem;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    padding: .875rem;

    @media screen and (min-width: 37.5em) {
      padding: 1.5rem;
    }

    @media screen and (min-width: 75em) {
      padding: 3rem;
    }
  }

  &_float {
    position: fixed;
    left: 1.5rem;
    bottom: 2rem;
    z-index: 1004;

    @media screen and (min-width: 75em) {
      display: none;
    }
  }
}
