.vc-range {

  &_legend {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_value {
    color: var(--accent);
    font-weight: 600;
    text-align: center;
  }

  &_input {
    position: relative;
    width: 100%;
    height: 8px;
    background-color: transparent;
    border-radius: var(--border-radius);
    cursor: pointer;
    appearance: none;

    &:focus {
      box-shadow: none;
    }

    &:disabled {
      cursor: not-allowed;
      opacity: .4;
    }

    &::-webkit-slider-runnable-track {
      width: 100%;
      height: 8px;
      background: linear-gradient(
        90deg, var(--accent) var(--before-value), var(--focus) 0, var(--focus) var(--after-value), var(--base-border) 0
      );
      border-radius: var(--border-radius);
    }

    &::-webkit-slider-thumb {
      position: relative;
      z-index: 4;
      width: 18px;
      height: 18px;
      margin-top: -5px;
      background-color: #fff;
      border: 2px solid var(--accent);
      border-radius: 50%;
      cursor: grab;
      transition: .2s;
      -webkit-appearance: none;
    }

    &:disabled::-webkit-slider-thumb {
      cursor: not-allowed;
    }

    &:focus::-webkit-slider-thumb {
      box-shadow: var(--base-focus);
      transform: scale(1.1);
    }

    &::-moz-range-track {
      width: 100%;
      height: 8px;
      background: linear-gradient(
        90deg, var(--accent) var(--before-value), var(--focus) 0, var(--focus) var(--after-value), rgba(0, 0, 0, .25) 0
      );
      border-radius: var(--border-radius);
    }

    &::-moz-range-thumb {
      position: relative;
      z-index: 4;
      box-sizing: border-box;
      width: 18px;
      height: 18px;
      margin-top: -5px;
      background-color: #fff;
      border: 2px solid var(--accent);
      border-radius: 50%;
      cursor: grab;
      transition: .2s;
    }

    &:focus::-moz-range-thumb {
      box-shadow: var(--base-focus);
      transform: scale(1.1);
    }

    &:disabled::-moz-range-thumb {
      cursor: not-allowed;
    }
  }
}
