.vc-badge {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  line-height: 1;

  &_value {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    display: inline-block;
    min-width: 20px;
    height: 20px;
    padding: 0 6px;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
    text-align: center;
    vertical-align: baseline;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .6);
    transform: translate(50%, -50%);
    transform-origin: 100% 0%;

    &__warning {
      background-color: var(--orange);
    }

    &__error {
      background-color: var(--red);
    }

    &__success {
      background-color: var(--green);
    }

    &__primary {
      background-color: var(--accent);
    }

    &__round {
      border-radius: 10px;
    }

    &__rectangle {
      border-radius: var(--border-radius);
    }

    .vc-badge__inline & {
      position: relative;
      box-shadow: none;
      transform: none;
    }
  }
}
