.vc-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 28px;
  z-index: 5000;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;

  &__fullscreen {
    padding: 0;
  }

  &__mask {
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, .5);
  }

  &_animation__scale {

    &-enter-active,
    &-leave-active {
      transition: transform .2s ease, opacity .2s ease;
    }

    &-enter,
    &-leave-to {
      opacity: 0;
      transform: scale(1.1);
    }
  }

  &_animation__fade-left {

    &-enter-active,
    &-leave-active {
      transition: transform .4s ease, opacity .2s ease;
    }

    &-enter,
    &-leave-to {
      opacity: 0;
      transform: translateX(-40px);
    }
  }

  &_content {
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    background: var(--base-background);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: var(--max-width);

    .vc-modal__center & {
      margin: auto;
    }

    .vc-modal__fullscreen & {
      width: 100%;
      flex: 1 1 auto;
      max-width: none;
      margin: 0;
    }
  }

  &_body {
    padding: 16px;
    color: var(--base-text);
  }

  &_header {
    padding: 16px;
    display: flex;
    align-items: center;
  }

  &_title {
    font-weight: 600;
    color: var(--base-title);
  }

  &_footer {
    padding: 16px;
    text-align: right;

    .vc-button + .vc-button {
      margin-left: 10px;
    }
  }

  &__close-btn {
    margin-left: auto;
  }
}
