.switch {
  min-width: 44px;
  vertical-align: middle;
  height: 22px;
  border-radius: 11px;
  background-color: rgba(0, 0, 0, .25);
  position: relative;
  transition: all .36s;

  &:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 18px;
    pointer-events: none;
    transition: all .36s cubic-bezier(.78, .14, .15, .86);
  }

  &:active {
    transform: none;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: .4;
  }

  &__checked {
    background-color: var(--base-green);

    &:after {
      left: 100%;
      margin-left: -2px;
      transform: translateX(-100%);
    }
  }
}
