.vc-tabs {
  
  &_nav {
    position: relative;
    display: flex;
    align-items: center;
    padding: 6px 0;
    list-style: none;
    border-bottom: 1px solid var(--base-border);
  }

  &_line {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 3px;
    height: 3px;
    background-color: var(--blue);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    transition: transform .2s cubic-bezier(.645, .045, .355, 1),
      width .2s cubic-bezier(.645, .045, .355, 1);
  }

  &_button {
    margin-right: 2px;
    padding: 8px 14px;
    line-height: 1.8;
    text-align: center;
    border-radius: var(--border-radius);

    &:hover {
      background-color: var(--base-hover);
    }

    &:focus {
      background-color: var(--base-hover);
    }

    &__active {
      color: var(--blue);
    }
  }

  &_content {
    padding: 16px 14px;
  }
}
