.vc-progress-circle {
  display: inline-block;
  position: relative;

  &_value {
    position: absolute;
    top: 50%;
    left: 0;
    text-align: center;
    width: 100%;
    transform: translateY(-50%);
    color: var(--base-title);
  }

  &_box {
    width: 100%;
    height: 100%;
  }

  &_underlay {
    stroke: var(--base-border);
    fill: transparent;
  }

  &_overlay {
    fill: transparent;
    transition: stroke-dashoffset 1s ease-in-out;
    stroke-linecap: round;
    transform: rotate(-90deg);
    transform-origin: center;

    &__active {
      fill: var(--red);
    }

    &__primary {
      stroke: var(--accent);
    }

    &__error {
      stroke: var(--red);
    }

    &__success {
      stroke: var(--green);
    }

    &__warning {
      stroke: var(--orange);
    }
  }
}
