.vc-heading {
  margin-top: 0;
  color: var(--base-title);
  font-weight: 500;

  &__divider {
    display: flex;
    align-items: center;

    &:before,
    &:after {
      display: none;
      flex: 1 1 auto;
      height: 1px;
      background-color: var(--base-border);
      content: "";
    }

    &:before {
      margin-right: 20px;
    }

    &:after {
      margin-left: 20px;
    }

    &-both {

      &:before,
      &:after {
        display: block;
      }
    }

    &-right {

      &:after {
        display: block;
      }
    }

    &-left {

      &:before {
        display: block;
      }
    }

    &-bottom {
      border-bottom: 1px solid var(--base-border);
    }
  }
}
