:root,
:root[data-theme='light'] {
  --base-black: #292929;
  --base-text: var(--base-black);
  --base-title: var(--base-text);
  --accent-color: var(--blue);
  --base-light-accent: #379dff;
  --base-background: #ffffff;
  --base-border: #e8e8e8;
  --base-scroll: #aaa;
  --disabled: #ccc;
  --focus: #7ab7ff;
  --base-focus: 0 0 0 2px var(--focus);
  --base-hover: #d9eafe;
  --orange: #ff790e;
  --red: #ec547a;
  --blue: #3796f6;
  --grey: #90a8be;
  --green: #5bceae;
  --dark-blue: #364e65;
  --light-blue: #f7fafc;
  --navigation-width: 96px;
  --header-height: 86px;
  --base-font: Muli, sans-serif;
  --border-radius: 4px;
  --invers: #292929;
  --invers-light: #fff;
  --skeleton: rgba(0, 0, 0, .1);
}

table {
  border-radius: 4px !important;
  border: 20px solid transparent !important;
  background-color: var(--base-background) !important;
}

.rsg--preview-61 {
  background-color: var(--base-background) !important;
}

tbody td {
  padding: 16px 10px 10px 0 !important;
}

tbody tr:hover {
  background-color: var(--base-hover) !important;
}

.example-row {
  background-color: var(--base-hover) !important;
  margin: -16px !important;
}

@media (prefers-color-scheme: dark) {

  :root {
    --base-text: #bbb;
    --base-title: #fff;
    --base-background: #181d23;
    --light-blue: #485465;
    --base-border: #384253;
    --invers: #fff;
    --invers-light: #292929;
    --skeleton: rgba(255, 255, 255, .1);
    --base-hover: #1e3955;
  }
}

:root[data-theme='dark'] {
  --base-text: #bbb;
  --base-title: #fff;
  --base-background: #181d23;
  --light-blue: #485465;
  --base-border: #384253;
  --invers: #fff;
  --skeleton: rgba(255, 255, 255, .1);
  --base-hover: #1e3955;
}

html {
  box-sizing: border-box;
  color-scheme: light dark;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Helvetica Neue',
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';
  font-size: 16px;
  color: var(--base-text);
  background: var(--base-background);
  font-weight: 400;
  scroll-behavior: smooth;
  scroll-padding-top: 12px;
}

* {
  /*reset*/
  padding: 0;
  margin: 0;
  box-sizing: inherit;

  /*scrollbar firefox*/
  scrollbar-color: var(--base-scroll) transparent;
  scrollbar-width: thin;
}

*:before,
*:after {
  box-sizing: inherit;
}

body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  line-height: 1.7;
  overscroll-behavior-y: none;
  overflow-anchor: auto;
}

:focus {
  outline: none;
  box-shadow: var(--base-focus);
  transition: box-shadow .2s;
}

@media (min-width: 941px) {

  a[href]:active,
  button:not([disabled]):active {
    transition: none;
    transform: translateY(1px);
  }
}

a:not([class]) {
  color: var(--blue);
  text-decoration: none;
  border-radius: 2px;
}

a:not([class]):hover {
  background-color: var(--base-hover);
  box-shadow: 0 0 0 2px var(--base-hover);
}

a:not([class]):focus {
  background-color: var(--base-hover);
}

a[class] {
  text-decoration: none;
}

button {
  display: inline-block;
  font: inherit;
  color: inherit;
  cursor: pointer;
  background: none;
  border: none;
}

a[href]::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
}

.visually_hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

/*custom scroll only web-kit browsers*/
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--base-scroll);
  border-radius: 4px;
}

@keyframes skeleton-loading {

  0% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}
