.team-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &_image {
    width: 3.75rem;
    height: 3.75rem;
    margin-bottom: .375rem;
  }

  &_text {
    color: #7a869a;
    font-size: .75rem;
  }
}
