.team-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &_image {
    margin-bottom: 6px;
  }

  &_text {
    color: #7a869a;
    font-size: 12px;
    line-height: 16px;
  }
}
