.vc-tag {
  display: flex;
  align-items: center;
  color: var(--color);

  &__ghost {
    color: var(--invers);
  }

  &__primary {
    --color: var(--accent-color);
  }

  &__error {
    --color: var(--red);
  }

  &__success {
    --color: var(--green);
  }

  &__warning {
    --color: var(--orange);
  }

  &_icon {
    margin-right: 4px;
  }

  &_text {
    display: inline-block;
    padding: 5px 12px;
    background-color: var(--color);
    color: #fff;
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
    white-space: nowrap;
    position: relative;

    &:focus-within {
      box-shadow: var(--base-focus);
    }

    .vc-tag__ghost & {
      color: var(--invers);
    }

    .vc-tag__closable & {
      padding-right: 28px;
    }

    .vc-tag__round & {
      border-radius: 12px;
    }

    .vc-tag__rectangle & {
      border-radius: var(--border-radius);
    }
  }

  &_close {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    border-radius: 50%;
    position: absolute;
    right: 4px;
    top: 50%;
    margin-top: -10px;

    &:hover {
      color: var(--grey);
    }

    &:focus {
      box-shadow: none;
    }
  }
}
