.vc-footer {
  padding: 0 0 	.875rem;
  text-align: center;

  @media screen and (min-width: 37.5em) {
    padding: 0 0 1.5rem;
  }

  @media screen and (min-width: 75em) {
    padding: 0 0 3rem;
  }
}
