.vc-anchor {

  &_list {
    padding: .75rem .75rem .75rem 1.25rem;
    border-left: 1px solid var(--base-border);
  }

  &_link {
    position: relative;
    display: block;
    padding: .125rem .25rem;
    color: var(--base-text);
    font-size: .875rem;
    border-radius: var(--border-radius);
    transition: .15s ease-in-out;

    &:before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: calc(-1.25rem - 1px);
      display: inline-block;
      width: 1px;
      background-color: var(--accent);
      opacity: 0;
      transition: .15s ease-in-out;
      content: '';
    }

    &:hover {
      background-color: var(--base-hover);
    }

    &__active {
      color: var(--accent);

      &:before {
        opacity: 1;
      }
    }
  }
}
