.vc-anchor {

  &_list {
    padding: .75rem .75rem .75rem 1.25rem;
    border-left: 2px solid var(--base-border);
  }

  &_link {
    display: block;
    font-size: .875rem;
    position: relative;
    color: var(--base-text);
    padding: .125rem .25rem;
    border-radius: var(--border-radius);
    transition: .15s ease-in-out;

    &:before {
      content: '';
      display: inline-block;
      position: absolute;
      width: 2px;
      top: 0;
      bottom: 0;
      background-color: var(--accent);
      left: calc(-1.25rem - 2px);
      opacity: 0;
      transition: .15s ease-in-out;
    }

    &:hover {
      background-color: var(--base-hover);
    }

    &__active {
      color: var(--accent);

      &:before {
        opacity: 1;
      }
    }
  }
}
