.collapse-card {
  padding: 8px 16px;

  &:hover {
    background-color: var(--base-hover);
  }

  &_header {
    display: grid;
    grid-row-gap: 14px;
    grid-column-gap: 8px;
    grid-template-areas: 'toggle switch . menu'
      '. name name name'
      '. info info info'
      '. date date date';
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto 1fr auto;
    align-items: center;
    justify-items: start;

    @media (min-width: 900px) {
      grid-template-areas: 'toggle switch name info date menu';
      grid-template-rows: auto;
      grid-template-columns: auto auto 240px 1fr 126px auto;
    }

    &-switch {
      grid-area: switch;
    }

    &-title {
      grid-area: name;
      max-width: 100%;
      overflow: hidden;

      @media (min-width: 900px) {
        padding-left: 20px;
      }
      // TODO вынести в миксин

      .elipsis {
        display: block;
        margin: 2px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    &-date {
      grid-area: date;
    }

    &-menu {
      grid-area: menu;
    }

    &-info {
      display: flex;
      grid-area: info;
      align-items: flex-start;
      width: 100%;
      margin: 0;
      padding: 0;
      list-style: none;

      @media (min-width: 900px) {
        justify-content: center;
      }

      &-item {
        margin-right: 12px;
      }
    }
  }
  
  &_body {
    display: grid;
    grid-gap: 16px;
    margin-top: 16px;
    padding: 20px;
    border-top: 1px solid var(--base-border);

    @media (min-width: 600px) {
      grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    }

    @media (min-width: 900px) {
      grid-gap: 24px;
      grid-template-columns: repeat(auto-fit, minmax(140px, auto));
    }

    &-comments {
      display: flex;
      flex-direction: column;
    }
    
    &-comments-avatar {
      flex: 0 0 auto;
      margin-right: 10px;
    }
  
    &-comments-item {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      font-size: 14px;
    
      &:last-child {
        margin-bottom: 0;
      }
    }

    &-tags {

      .vc-tag {
        margin-right: 5px;
        margin-bottom: 5px;
      }
    }
  }
  
  &_header-toggle {
    grid-area: toggle;
    
    &:hover {
      background-color: var(--base-background);
    }
    
    &__active {
      
      .vc-button_icon {
        transform: rotate(-90deg);
      }
    }
    
    .vc-button_icon {
      transition: transform .2s;
    }
  }
}
