.vc-range {

  &_legend {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_value {
    font-weight: 600;
    text-align: center;
    color: var(--accent-color);
  }

  &_input {
    width: 100%;
    appearance: none;
    position: relative;
    height: 8px;
    border-radius: var(--border-radius);
    background-color: transparent;
    cursor: pointer;

    &:focus {
      box-shadow: none;
    }

    &:disabled {
      opacity: .4;
      cursor: not-allowed;
    }

    &::-webkit-slider-runnable-track {
      width: 100%;
      height: 8px;
      background:
        linear-gradient(
          90deg, var(--accent-color) var(--track-width), var(--focus) 0, var(--focus) var(--temp-track-width), rgba(0, 0, 0, .25) 0
        );
      border-radius: var(--border-radius);
    }

    &::-webkit-slider-thumb {
      height: 18px;
      width: 18px;
      border-radius: 50%;
      background-color: #fff;
      border: 2px solid var(--accent-color);
      -webkit-appearance: none;
      margin-top: -5px;
      position: relative;
      z-index: 4;
      transition: .2s;
      cursor: grab;
    }

    &:disabled::-webkit-slider-thumb {
      cursor: not-allowed;
    }

    &:focus::-webkit-slider-thumb {
      transform: scale(1.1);
      box-shadow: var(--base-focus);
    }

    &::-moz-range-track {
      width: 100%;
      height: 8px;
      border-radius: var(--border-radius);
      background:
        linear-gradient(
          90deg, var(--accent-color) var(--track-width), var(--focus) 0, var(--focus) var(--temp-track-width), rgba(0, 0, 0, .25) 0
        );
    }

    &::-moz-range-thumb {
      width: 18px;
      height: 18px;
      box-sizing: border-box;
      border-radius: 50%;
      background-color: #fff;
      border: 2px solid var(--accent-color);
      margin-top: -5px;
      position: relative;
      z-index: 4;
      transition: .2s;
      cursor: grab;
    }

    &:focus::-moz-range-thumb {
      transform: scale(1.1);
      box-shadow: var(--base-focus);
    }

    &:disabled::-moz-range-thumb {
      cursor: not-allowed;
    }
  }
}
