.vc-button {
  padding: 10px 12px;
  min-width: 120px;
  line-height: 24px;
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  font-family: inherit;
  transition: color .2s;
  position: relative;
  height: var(--size);
  color: #fff;
  background: var(--background);

  &__ghost {
    color: var(--invers);
  }

  &__primary {
    background-color: var(--accent-color);
  }

  &__error {
    background-color: var(--red);
  }

  &__success {
    background-color: var(--green);
  }

  &__warning {
    background-color: var(--orange);
  }

  &__bordered {
    border: 2px solid currentColor;
    color: var(--invers);
    padding: 8px 12px;
  }

  &__loading {
    cursor: progress;
    color: transparent;
  }

  &__circle,
  &__round {
    border-radius: var(--size);
  }

  &__square,
  &__circle {
    min-width: var(--size);
    padding: 0;
  }

  &__square,
  &__rectangle {
    border-radius: var(--border-radius);
  }

  &:not([disabled]):hover {
    opacity: .7;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: var(--disabled);
  }

  &_text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    padding: 0 6px;
    position: relative;

    .vc-button__square &,
    .vc-button__circle & {
      position: absolute;
      height: 1px;
      width: 1px;
      overflow: hidden;
      clip: rect(1px, 1px, 1px, 1px);
      white-space: nowrap;
    }
  }

  &_icon {
    width: 24px;
    height: 24px;
    box-sizing: initial;
    fill: currentColor;
    padding: 0 6px;

    &__left {
      order: -1;
    }
  }

  &_spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 28px;
    height: 28px;
    margin-top: -14px;
    margin-left: -14px;
    animation: dashSpinner 1.5s ease-in-out infinite;
    stroke: #fff;
    stroke-linecap: round;
  }
}

@keyframes dashSpinner {

  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }

  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
