.button {
  flex: 0 0 auto;
  padding: 6px 12px;
  height: 42px;
  border-radius: 4px;
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  color: var(--base-title);
  border: 2px solid var(--light-blue);
  transition: color .2s;
  position: relative;

  &__primary {
    background: var(--accent-color);
  }

  &__error {
    background-color: var(--red);
  }

  &__success {
    background-color: var(--green);
  }

  &__warning {
    background-color: var(--orange);
  }

  &__loading {
    cursor: progress;
    color: transparent;
  }

  &__circle,
  &__round {
    min-width: 42px;
    border-radius: 21px;
  }

  &__square,
  &__circle {
    padding: 0;
  }

  &:not([disabled]):hover {
    opacity: .8;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: var(--disabled);
  }

  &_text {
    font-weight: 500;
    font-size: 13px;
    line-height: 2;
    letter-spacing: .1em;
    padding: 0 6px;
    position: relative;

    .button__square &,
    .button__circle & {
      position: absolute !important;
      height: 1px;
      width: 1px;
      overflow: hidden;
      clip: rect(1px, 1px, 1px, 1px);
      white-space: nowrap;
    }
  }

  &_icon {
    width: 24px;
    height: 24px;
    box-sizing: initial;
    flex: 0 0 auto;
    fill: currentColor;
    padding: 0 6px;
  }

  &_spinner {
    color: var(--base-title);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 28px;
    height: 28px;
    margin-top: -14px;
    margin-left: -14px;
  }
}
