.vc-collapse {
  border: 2px solid var(--base-border);
  border-radius: 4px;

  & + & {
    margin-top: 8px;
  }

  &_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 16px;
    line-height: 1;
    text-align: left;
    border-radius: 2px;

    &:hover {
      background-color: var(--base-border);
    }

    &:not([disabled]):active {
      transform: none;
    }
  }

  &_title {
    position: relative;
    display: inline-block;
    margin: 0;
    color: var(--base-title);
    font-size: 18px;
  }

  &_arrow {
    position: relative;
    width: 24px;
    height: 24px;
    transform: rotate(45deg);
    transition: transform .2s;

    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 8px;
      height: 8px;
      border: solid var(--base-text);
      border-width: 0 2px 2px 0;
      transform: translate(-50%, -50%);
      transition: border .2s;
      content: "";
    }

    .vc-collapse__open & {
      transform: rotate(225deg);
    }
  }

  &_content {
    padding: 16px;
  }
}
