.vc-link {
  display: inline-flex;
  align-items: center;
  color: var(--blue);
  border-radius: var(--border-radius);

  &:hover,
  &:focus {
    background-color: var(--base-hover);
  }

  &_icon {
    width: 24px;
    height: 24px;
    margin-right: 6px;
  }
}
