.about {
  display: grid;
  scroll-padding-top: 60px;

  @media (min-width: 900px) {
    grid-gap: 40px;
    grid-template-columns: 1fr auto;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
      'header header'
      'article anchors';
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  p {
    margin: 20px 0;
  }

  &_header {
    grid-area: header;
  }

  &_article {
    grid-area: article;
    display: grid;
    grid-row-gap: 20px;
  }

  /* mix */
  &_anchor {
    display: none;
    grid-area: anchors;

    @media (min-width: 900px) {
      display: block;
      position: sticky;
      top: 18px;
      align-self: start;
    }

    @media (min-width: 1200px) {
      top: 37px;
    }
  }
}
