.vc-rating {
  border: none;
  margin: 0;
  padding: 0 0 .375rem 0;

  &_legend {
    padding: 0 .25rem;
    color: var(--base-title);
  }

  &_item {
    display: inline-block;
    font-size: 0;
    padding: .125rem;
    vertical-align: middle;
    line-height: 1;
    cursor: pointer;
    position: relative;
    color: var(--disabled);

    &:focus-within {
      filter: drop-shadow(0 0 3px var(--focus));
    }

    &__selected {
      color: var(--active-color);
    }

    &__disabled {
      cursor: not-allowed;
      opacity: .4;
    }
  }

  &_checkbox {
    appearance: none;
    width: .125rem;
    height: .125rem;
    opacity: 0;
    margin: 0;
    border-radius: 100%;
    position: absolute;
    bottom: -.125rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--focus);

    &:focus {
      opacity: 1;
    }
  }

  &_icon {
    transition: transform .2s ease-out;
    pointer-events: none;

    .vc-rating_item:not(.vc-rating_item__disabled):hover & {
      transform: scale(1.2);
    }
  }
}
