.vc-drawer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5000;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;

  &__mask {
    background-color: rgba(0, 0, 0, .5);
  }

  &__close-btn {
    margin-left: auto;
  }

  &_animation {

    &-enter-active,
    &-leave-active {
      transition: opacity .2s ease;

      .vc-drawer_content {
        transition: transform .4s ease;
      }
    }

    &-enter,
    &-leave-to {
      opacity: 0;

      .vc-drawer_content {
        transform: translateX(40px);
      }
    }
  }

  &_content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 20rem;
    max-width: var(--max-width);
    margin: 0 auto;
    background: var(--base-background);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);

    @media (min-width: 75em) {
      width: 28rem;
    }

    .vc-modal__center & {
      margin: auto;
    }

    .vc-modal__fullscreen & {
      flex: 1 1 auto;
      width: 100%;
      max-width: none;
      margin: 0;
    }
  }

  &_body {
    padding: 1.5rem;
    color: var(--base-text);
  }

  &_header {
    display: flex;
    align-items: center;
    padding: 1.5rem;
  }

  &_title {
    margin: 0;
    color: var(--base-title);
    font-weight: 600;
  }

  &_footer {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;

    @media (min-width: 75em) {
      justify-content: flex-end;
    }

    .vc-button + .vc-button {
      margin-left: .625rem;
    }
  }
}
