.navigation {
  --indent: 2px;
  --item-height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  overflow-y: auto;
  padding: var(--indent);
  display: flex;
  flex-direction: column;
  width: var(--navigation-width);
  background-color: var(--base-background);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .07);

  &_home {
    height: var(--item-height);
    padding: 8px;
    text-decoration: none;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    line-height: 1;
    color: var(--orange);
    margin-bottom: var(--item-height);

    &:hover {
      background-color: var(--base-hover);
    }
  }

  &_logotype {
    display: block;
    margin: 0 auto;

    .navigation_home & {
      fill: var(--green);
    }
  }

  &_skip {
    position: absolute;
    height: var(--item-height);
    line-height: var(--item-height);
    text-align: center;
    border-radius: var(--border-radius);
    top: var(--indent);
    right: var(--indent);
    left: var(--indent);

    &:not(:focus) {
      right: 100%;
      opacity: 0;
    }

    &:focus {
      color: var(--accent-color);
      background: var(--base-background);
    }
  }

  &_list {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    margin-bottom: 24px;
  }

  &_item {
    margin-bottom: var(--indent);

    &__separator {
      margin-top: auto;
    }
  }

  &_link {
    height: var(--item-height);
    padding: 8px;
    text-decoration: none;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: var(--border-radius);

    &:hover {
      background-color: var(--base-hover);
    }

    &:before {
      content: '';
      position: absolute;
      top: 16px;
      bottom: 16px;
      left: 0;
      border-radius: 0 var(--border-radius) var(--border-radius) 0;
      width: 3px;
      background-color: var(--accent-color);
      transform: scale(0);
      transition: transform .2s;
    }

    &__active {
      background-color: var(--light-blue);

      &:before {
        transform: scale(1);
      }
    }
  }

  &_icon {
    display: block;
    margin: 0 auto;
    fill: var(--dark-blue);

    .navigation_link:hover &,
    .navigation_link:focus &,
    .navigation_link__active & {
      fill: var(--accent-color);
    }
  }
}
