.settings {

  &_list {
    margin-bottom: 40px;
  }

  &_item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;
    min-height: 42px;

    p {
      margin-bottom: 4px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    @media (min-width: 1200px) {
      flex-direction: row;
      align-items: center;

      p {
        margin-bottom: 0;
      }
    }
  }
}
