.vc-section {
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }

  &_title {
    display: flex;
    align-items: center;
    margin-top: 0;
    color: var(--base-title);
    font-weight: 500;
  }

  &_link {
    color: inherit;
    text-decoration: none;
    border-radius: var(--border-radius);

    &:hover {
      opacity: 1;
    }
  }

  &_icon {
    margin-left: 14px;
    opacity: 0;
    transition: .2s ease-in-out;

    .vc-section_link:hover + & {
      opacity: 1;
    }
  }
}
