.vc-breadcrumb {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;

  &_item {
    display: flex;
    align-items: center;
  }

  &_icon {
    width: 1rem;
    height: 1rem;
    margin-right: .25rem;
  }

  &_separator {
    display: inline-block;
    font-size: .75rem;
    line-height: 1;
    margin: 0 .625rem;
    color: var(--disabled);
  }

  &_link {
    white-space: nowrap;
    position: relative;
    font-size: .75rem;
    padding: .125rem .25rem;
    display: inline-flex;
    align-items: center;
    border-radius: var(--border-radius);
    color: var(--blue);

    &:hover {
      background-color: var(--base-hover);
      box-shadow: 0 0 0 .125rem var(--base-hover);
    }

    &:focus {
      background-color: var(--base-hover);
    }

    &__active,
    &__active-exact {
      color: var(--grey);
      pointer-events: none;
    }
  }
}
