.vc-breadcrumb {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;

  &_item {
    display: flex;
    align-items: center;
  }

  &_icon {
    margin-right: 4px;
  }

  &_separator {
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    margin: 0 10px;
    color: var(--disabled);
  }

  &_link {
    white-space: nowrap;
    position: relative;
    font-size: 14px;
    padding: 2px 4px;
    display: inline-flex;
    align-items: center;
    border-radius: var(--border-radius);
    color: var(--blue);

    &:hover {
      background-color: var(--base-hover);
      box-shadow: 0 0 0 2px var(--base-hover);
    }

    &:focus {
      background-color: var(--base-hover);
    }

    &__active,
    &__active-exact {
      color: var(--grey);
      pointer-events: none;
    }
  }
}
