.vc-avatar {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--size);
  height: var(--size);
  overflow: hidden;
  color: #fff;
  font-size: calc(var(--size) / 2);
  text-align: center;
  background-color: var(--dark-blue);
  border: 2px solid var(--base-background);
  --size: 3rem;

  &__shape-circle {
    border-radius: 50%;
  }
  
  &__shape-square {
    border-radius: var(--border-radius);
  }

  &_icon {
    width: 50%;
    height: 50%;
  }

  &_image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
