.vc-navigation {
  --indent: .125rem;
  --item-height: 4.375rem;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  overflow-y: auto;
  padding: var(--indent);
  flex-direction: column;
  width: var(--navigation-width);
  transition: transform .3s ease-in-out;
  backdrop-filter: blur(4px);
  background-color: var(--navigation-bg);
  transform: translateX(-100%);

  &__active {
    display: flex;
    transform: translateX(0);
  }

  @media screen and (min-width: 75em) {
    display: flex;
    transform: translateX(0);
    padding-bottom: var(--grid-gap);
    background-color: var(--base-background);
    backdrop-filter: none;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .07);
  }

  &_list {
    padding: 0;
    margin: 0 0 6rem 0;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    list-style: none;

    @media screen and (min-width: 75em) {
      margin-bottom: 2.125rem;
    }
  }

  &_item {
    margin-bottom: var(--indent);

    &__separator {
      margin-top: 0;

      @media screen and (min-width: 75em) {
        margin-top: auto;
      }
    }
  }

  &_link {
    height: var(--item-height);
    padding: .5rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: var(--border-radius);
    line-height: 1;
    flex: 0 0 auto;

    &:hover {
      background-color: var(--base-hover);
    }

    &:before {
      content: '';
      position: absolute;
      top: 1rem;
      bottom: 1rem;
      left: 0;
      border-radius: 0 var(--border-radius) var(--border-radius) 0;
      width: .1875rem;
      background-color: var(--accent);
      transform: scale(0);
      transition: transform .2s;
    }

    &__active {
      background-color: var(--light-blue);

      &:before {
        transform: scale(1);
      }
    }

    &__settings {
      width: 100%;
    }

    &__home {
      margin-bottom: .5rem;
    }

    &__skip {
      position: absolute;
      padding: 0;
      z-index: 2;
      top: var(--indent);
      right: var(--indent);
      left: var(--indent);

      &:not(:focus) {
        right: 100%;
        opacity: 0;
      }

      &:focus {
        color: var(--accent);
        background: var(--base-background);
      }
    }

    &__avatar {
      height: auto;
      padding: .75rem .5rem;

      @media screen and (min-width: 75em) {
        margin-bottom: 3rem;
      }
    }
  }

  &_logotype {
    color: var(--green);
  }

  &_icon {
    display: block;
    margin: 0 auto;
    fill: var(--invers);

    .vc-navigation_link:hover &,
    .vc-navigation_link:focus &,
    .vc-navigation_link__active & {
      fill: var(--accent);
    }
  }
}
