.navigation {
  --indent: 2px;
  --item-height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  overflow-y: auto;
  padding: var(--indent);
  flex-direction: column;
  width: var(--navigation-width);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .07);
  backdrop-filter: blur(15px);
  transition: transform .3s ease-in-out;
  transform: translateX(-100%);

  &__active {
    display: flex;
    transform: translateX(0);
  }

  @media (min-width: 1200px) {
    display: flex;
    transform: translateX(0);
    padding-bottom: var(--grid-gap);
    background-color: var(--base-background);
    backdrop-filter: none;
  }

  &_list {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    margin-bottom: 90px;
    list-style: none;

    @media (min-width: 1200px) {
      margin-bottom: 34px;
    }
  }

  &_item {
    margin-bottom: var(--indent);

    &__separator {
      margin-top: 0;

      @media (min-width: 1200px) {
        margin-top: auto;
      }
    }
  }

  &_link {
    height: var(--item-height);
    padding: 8px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: var(--border-radius);
    line-height: 1;

    &:hover {
      background-color: var(--base-hover);
    }

    &:before {
      content: '';
      position: absolute;
      top: 16px;
      bottom: 16px;
      left: 0;
      border-radius: 0 var(--border-radius) var(--border-radius) 0;
      width: 3px;
      background-color: var(--accent-color);
      transform: scale(0);
      transition: transform .2s;
    }

    &__active {
      background-color: var(--light-blue);

      &:before {
        transform: scale(1);
      }
    }

    &__home {
      margin-bottom: 8px;
    }

    &__skip {
      position: absolute;
      padding: 0;
      z-index: 2;
      top: var(--indent);
      right: var(--indent);
      left: var(--indent);

      &:not(:focus) {
        right: 100%;
        opacity: 0;
      }

      &:focus {
        color: var(--accent-color);
        background: var(--base-background);
      }
    }

    &__avatar {
      height: auto;
      padding: 12px 8px;

      @media (min-width: 1200px) {
        margin-bottom: 48px;
      }
    }
  }

  &_logotype {
    color: var(--green);
  }

  &_icon {
    display: block;
    margin: 0 auto;
    fill: var(--invers);

    .navigation_link:hover &,
    .navigation_link:focus &,
    .navigation_link__active & {
      fill: var(--accent-color);
    }
  }
}
