.vc-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &_image {

    img,
    svg {
      display: block;
      max-width: 100%;
      margin: 0 auto;
    }
  }

  &_icon {
    fill: var(--grey);
  }

  &_indicator {
    animation-name: blink;
    animation-duration: .3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    fill: var(--red);
  }

  &_description {
    margin: 0;
    padding: 4px 0;
    color: var(--base-text);
  }
}

@keyframes blink {

  50% {
    opacity: 0;
  }
}
